* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #06d6a0;
}

.wraper {
  width: 100%;
  height: 85%;
  display: flex;
}

.playzone {
  width: 80%;
  height: 100%;
  padding: 16px;
  background-color: rgb(157, 252, 227);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: #073b4c 2px solid;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dataZone {
  width: 20%;
  height: 100%;
  background-color: #ffd166;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #40341A;
  border-radius: 24px;
  margin-left: 16px;
}

.card {
  position: relative;
  background-color:#118ab2;
  z-index: 100;
}

.cCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  transition: 0.25s ease-in-out;
  opacity: 0;
}

.c0 {
  background: url("../img/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.c1 {
  background: url("../img/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.c2 {
  background: url("../img/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.c3 {
  background: url("../img/4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.c4 {
  background: url("../img/5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.c5 {
  background: url("../img/6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 8px;
  margin-top: 8px;
  width: 100px;
}

/* .reset {
  margin-top: 4px;
  justify-self: center;
} */


header{
  /* padding: 16px; */
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #ef476f;
  height: 10%;
  color: white;
  border-radius: 24px;
  margin: 0 16px 0 16px;
}

.miliseconds {
  display: none;
}


@media (max-width: 1000px) {
  .playzone {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  margin: 0 4px 0 4px;
  }
  .wraper {
    flex-wrap: wrap;
  }
  .dataZone {
    width: 100%;
    margin: 0;
    height: 80px;
    font-size: 8px;
    line-height: 14px;
    margin: 4px;
  }
  button {
    padding: 0;
    font-size: 10px;
    margin: 0;
    width: auto;
  }

  h1 {
    font-size: 14px;
  }
  header {
    margin: 4px 4px 0 4px;
    height: 40px;
  }

  br {
    display: none;
    }
  
  .buttons {
    flex-direction: row;
    margin: 0;
  }

  .c0, .c1, .c2, .c3, .c4, .c5 {
    background-size: contain;
  }
}